<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> </meta>
    <title>Some Website</title>
  </head>
  <body>
    {{> header}} questa e la pageina
    <p>Some text here</p>
    <p><h2>{{screamIt pageBody}}</h2></p>
{{> footer}}
  </body>
</html>
